section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      border-bottom: 1px solid #ddd;

      & + li {
        margin-top: 24px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 4px;
        text-decoration: none;
        color: #8257e6;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
